<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel = "stylesheet" href = "https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" >
</head>
<body>
<center>
    <header th:insert="blocks/header :: header"></header>

    <div class ="container mt-5">
        <h1>О проекте</h1>
    </div>
    <p>Этот дневник призван помочь Вам научиться контролировать свои расходы.</p>
    <p> Записывайте, редактируйте расходы в конце дня и рефлексируйте.</p>
    <p>Подмечайте ваши денежные привычки и вырабатывайте новые.</p>

    <img src="" th:src="@{ponka.png}" alt ="" />
    <p>Богатство — это способность в полной мере прочувствовать жизнь.</p>
    <p><b> Генри Дэвид Торо (Henry David Thoreau)</b></p><br></br>


    <div th:insert="blocks/footer :: footer"></div>

</center>
</body>
</html>