<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel = "stylesheet" href = "https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" >
</head>
<body>




<center>
<div th:insert="blocks/header :: header"></div>


<h1>BunnyMoney</h1>


<img src="" th:src="@{donald.jpg}" alt ="" />
<p>Никогда не тратьте деньги прежде, чем их заработать.</p>
<p><b>  Томас Джефферсон (Thomas Jefferson)</b></p><br></br>


<div th:insert="blocks/footer :: footer"></div>

</center>

</body>
</html>